.post {
    border: 1px solid #e6e6e6;
    border-radius: 8px;
    padding: 16px;
    margin: 10px 0;  
    background-color: #fff;
    transition: box-shadow 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 200px;
    width: 100%;
  max-width: 300px;  

    align-items: center;
    overflow: hidden;
  }
  
  .post:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .post h2 {
    font-size: 1.5em;
    margin: 0 0 10px;
    text-align: center;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
  
  .post p {
    margin: 5px 0;
    text-align: center;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
  
  .post-stats {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
  }
